# build
.gradle/
build/
out/

# ide
.idea/
*.iml
.vscode/
.DS_Store

# local env
.env

# personal notes
.notes/

# written by the deploy steps in docs/deploy.md, holds the project id
cloud-run-env.yaml
